<h1>プロフィール編集</h1>

<%= form_with model: @user, local: true do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>入力エラーがあります</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :profile_image, "プロフィール画像" %>
    <%= f.file_field :profile_image %>
  </div>

  <div>
    <%= f.label :introduction, "自己紹介" %>
    <%= f.text_area :introduction %>
  </div>

  <%= f.submit "更新", class: "btn btn-success" %>
<% end %>
