<h1><%= @user.name %> さんのページ</h1>
<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, size: "200x200", class: "rounded-circle" %>
<% else %>
  <%= image_tag asset_path("default-image.jpg"), size: "200x200", class: "rounded-circle" %>
<% end %>
<h3>自己紹介</h3>
<p><%= simple_format(@user.introduction) if @user.introduction.present? %></p>
<h2>あなたの投稿一覧</h2>
<% @posts.each do |post| %>
  <p>
    <%= link_to post.title, post_path(post) %>
    <% if post.user == current_user %>
      | <%= link_to '編集', edit_post_path(post) %>
      | <%= link_to '削除', post_path(post),
                    method: :delete,
                    data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </p>
<% end %>

<hr>

<%= link_to 'プロフィール編集', edit_user_path(@user) %> |
<%= button_to "退会する", user_registration_path,
              method: :delete,
              data: { confirm: "本当に退会しますか？" } %>
